body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
  padding: 8em 0 8em 0;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
}

.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
}

.container td,
.container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  background-color: #323c50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  background-color: #2c3446;
}

.container th {
  background-color: #1f2739;
}

.container td:first-child {
  color: #fb667a;
}

.container tr:hover {
  cursor: pointer;
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.container td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;

  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px, #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

button {
  margin-top: 1em;
  box-shadow: 0px 0px 0px 2px #464a52;
  background: linear-gradient(to bottom, #101c2e 5%, #2c3446 100%);
  background-color: #101c2e;
  border-radius: 10px;
  border: 1px solid #0e1119;
  display: inline-block;
  cursor: pointer;
  color: #f2f2f2;
  font-size: 19px;
  padding: 16px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3b5db3;
}

button:hover {
  background: linear-gradient(to bottom, #669ee3 5%, #101c2e 100%);
  background-color: #669ee3;
}

button:active {
  position: relative;
  top: 1px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.textInput {
  box-shadow: 0px 0px 0px 2px #464a52;
  background: linear-gradient(to bottom, #101c2e 5%, #2c3446 100%);
  background-color: #101c2e;
  border: 1px solid #0e1119;
  color: #f2f2f2;
  font-size: 19px;
  padding: 10px;
  text-decoration: none;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}
